.projects-page {
	min-height: 100vh;
	background-color: var(--bg-color);
	color: var(--text-color);
	transition: var(--transition);
}

main {
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

@media (min-width: 768px) {
	main {
		padding: 0 2rem;
	}
}
